---

---

<div class="mt-[3%] grid grid-cols-2 gap-3 max-w-[50%] text-sm font-semibold">
  <button class="bg-gradient-to-t from-[#2f1472] to-[#6c41d4] py-3.5 rounded-xl"
    >Get Started</button
  >
  <div class="bg-gradient-to-t from-[#2f1472] to-[#6c41d4] p-[1px] rounded-xl">
    <button class="bg-black rounded-xl w-full h-full">Discord</button
    >
  </div>
</div>
