---

---

<div class="mt-[10%] grid grid-cols-3 gap-3">
  <div
    class="p-6 bg-black border-[1px] border-stone-950 rounded-lg duration-500 hover:scale-105 ease-in-out"
  >
    <h1 class="text-lg font-bold mb-2 text-purple-800">Non-invasive</h1>
    <p class="text-gray-300 font-light text-sm">
      Our bypass is not invasive like others, we do not capture your screen at
      login, etc. We care about your privacy!
    </p>
  </div>
  <div
    class="p-6 bg-black border-[1px] border-stone-950 rounded-lg duration-500 hover:scale-105 ease-in-out"
  >
    <h1 class="text-lg font-bold mb-2 text-purple-800">Discord for Support</h1>
    <p class="text-gray-300 font-light text-sm">
      Our bypass is not invasive like others, we do not capture your screen at
      login, etc. We care about your privacy!
    </p>
  </div>
  <div
    class="p-6 bg-black border-[1px] border-stone-950 rounded-lg duration-500 hover:scale-105 ease-in-out"
  >
    <h1 class="text-lg font-bold mb-2 text-purple-800">Undetectable</h1>
    <p class="text-gray-300 font-light text-sm">
      Our bypass is not invasive like others, we do not capture your screen at
      login, etc. We care about your privacy!
    </p>
  </div>
</div>
